*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header.header__top{
    min-width: 375px;
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: #35424A;
    padding: 20px 30px;
    flex-wrap: wrap;
    flex-grow: 1;
    border-bottom: 3px solid #A84F86;
}

header.header__top h1{
    white-space: nowrap;
}

header.header__top ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 10px;
}

header.header__top span{
    color: #A84F86;
}

header.header__top a{
    color: white;
    text-decoration: none;
}

header.header__top a[tabindex]:focus {
    color: #A84F86;
    font-weight: bold;
}

header.header__top a:hover {
    color: #A84F86;
}

section.section__top{
    background-image: url(./../images/showcase.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center;
    padding: 100px 0;
    color: white;
}

section.section__top h1{
   font-size: 4rem;
   margin-bottom: 30px;
}

section.section__top p{
    font-size: 1.3rem;
 }

section.section__middle {
    color: white;
    display: flex;
    background-color: #35424A;
    justify-content: space-between;
    padding: 30px 20px;
}

section.section__middle h3{
    font-weight: bold;
}

section.section__middle__inputs input{
    padding: 5px ;
}

section.section__middle__inputs input[type=text]{
    width: 200px;
}

section.section__middle__inputs input[type=submit]{
    background-color: orangered;
    color: white;
    padding: 8px 10px ;
    outline: none;
    border: none;
}


section.section__bottom{
    display: flex;
    text-align: center;
    margin: 50px 0;
    gap: 10px;
    padding: 0 50px;
}

section.section__bottom img{
    width: 100px;
    margin-bottom: 10px;
}

section.section__bottom h4{
    margin-bottom: 10px;
}

section.section__about{
    display: flex;
    padding: 20px;
    gap: 5rem;
}

section.section__about__left,.section__about__right{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

p.section__about__left--p2,.section__about__right{
    background-color: #35424A;
    color: white;
    padding: 20px 10px;
}

.services{
    padding: 10px 20px;
    display: flex;
    gap: 100px;
}

.services__left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
}

.services__left__article{
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #E6E6E6;
}



.services__right{
    display: flex;
    flex-direction: column;
    background-color: #35424A;
    padding: 20px 30px;
    color: white;
    flex: 0.5 10%;
    height: 400px;
}
.services__right form{
    display: flex;
    flex-direction: column;
}


footer.footer{
    width: 100%;
    text-align: center;
    background-color: #35424A;
    padding: 20px 0;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer.footer p{
    margin-bottom: 5px;
}

footer.footer img{
    width: 200px;
}


@media screen and (max-width:700px) {

    header.header__top {
        flex-direction: column;
        gap: 10px;
    }

    header.header__top h1,ul{
        text-align: center;
        margin: auto;
    }

    header.header__top ul{
        flex-direction: column;
    }
    
    section.section__middle {
        flex-direction: column;
        text-align: center;
        row-gap: 1rem;
    }

    section.section__middle__inputs input[type=text]{
        display: block;
        margin: 0 auto 15px ;
    }

    section.section__bottom{
        flex-direction: column;
        row-gap: 3rem;
    }

    .section__bottom__bottom-article{
        margin-bottom: 100px;
    }

    .services{
        flex-direction: column;
        row-gap: 20px;
    }

    .services__right{
        margin-bottom: 100px;
    }
}

