<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarusway Web Design</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>

    <%- include('./header'); %>
    
    <%- include('./subscribe'); %>

    <section class="section__about">
        <section class="section__about__left">
            <h3 class="section__about__left--h3">About Us</h3>
            <p class="section__about__left--p1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est ducimus nemo incidunt tempora, officiis a nostrum voluptatem nisi fugiat consectetur, porro tempore nesciunt rem? Dolore illo quo laudantium, neque qui, amet esse excepturi dolor beatae omnis cum asperiores? Dicta, soluta. Quod qui cupiditate consequuntur, magni ipsam eos aliquid nobis voluptatum impedit sapiente eum nam repellendus at minus magnam, a quae quos perspiciatis fuga ratione! Totam amet, maxime exercitationem nisi perspiciatis nobis facere recusandae molestiae, dignissimos, cupiditate accusamus neque ducimus corrupti.</p>
            <p class="section__about__left--p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut adipisci exercitationem sint repudiandae mollitia soluta harum recusandae molestias quod laudantium, libero eligendi ullam perferendis maxime quo explicabo vitae repellat voluptatum alias! Possimus mollitia velit quam. Doloremque earum similique ex aut atque tenetur vero consequatur asperiores repellat ducimus! Voluptate, aperiam ut.</p>
        </section>
        <section class="section__about__right">
            <h3 class="section__about__right--h3">What We Do</h3>
            <p class="section__about__right--p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ad aut quos. Tempora praesentium rerum excepturi fugit, quam similique accusantium!</p>
        </section>
    </section>

    <%- include('./footer'); %>

</body>
</html>