<header class="header__top">
            <h1><span>Clarusway</span> Web Design</h1>
            <ul>
                <li><a tabindex="1"  href="#home">HOME</a></li>
                <li><a tabindex="2" href="#about">ABOUT</a></li>
                <li><a tabindex="3" href="#services">SERVICES</a></li>
            </ul>
</header>
