<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <%- include('./header'); %>
    <section class="section__top">
            <h1>Professional Web Design</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique aut ullam debitis accusantium explicabo modi praesentium reiciendis unde. Possimus, delectus.</p>
    </section>
    <section class="section__middle">
            <h3>Subscribe to Our Newsletter</h3>
            <section class="section__middle__inputs">
                <input type="text" placeholder="Enter Email...">
                <input type="submit">
            </section>
    </section>
    <section class="section__bottom">
            <article>
                <img src="/images/logo_html.png" alt="">
                <h4>HTML5 Markup</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti architecto natus ut, voluptatum nihil minus.</p>

            </article>
            <article>
                <img src="/images/logo_css.png" alt="">
                <h4>CSS3 Styling</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti architecto natus ut, voluptatum nihil minus.</p>
                
            </article>
            <article class="section__bottom__bottom-article">
                <img src="/images/logo_brush.png" alt="">
                <h4>Graphic Design</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti architecto natus ut, voluptatum nihil minus.</p>
                
            </article>
    </section>
    <%- include('./footer'); %>
</body>
</html>